## Coronavirus Exploration

## DATASET1 19 DATA

In [1]:
#Pandas is an open-source Python Library providing high-performance data manipulation and analysis tool
#using its powerful data structures. 
#The name Pandas is derived from the word Panel Data â€“ an Econometrics from Multidimensional data.
#panda is dependent on numpy module.

import pandas as pd

In [2]:
#read_csv method is of panda module used to read csv file.
covid=pd.read_csv('covid_19_data.csv')

#printing first five records of dataset
covid.head()

,Sno,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,1/22/2020,Anhui,Mainland China,1/22/2020 17:00,1,0,0
1,2,1/22/2020,Beijing,Mainland China,1/22/2020 17:00,14,0,0
2,3,1/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6,0,0
3,4,1/22/2020,Fujian,Mainland China,1/22/2020 17:00,1,0,0
4,5,1/22/2020,Gansu,Mainland China,1/22/2020 17:00,0,0,0

In [3]:
#Pandas dataframe.info() function is used to get a concise summary of the dataframe.

covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4935 entries, 0 to 4934
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Sno              4935 non-null   int64
 1   ObservationDate  4935 non-null   object
 2   Province/State   3120 non-null   object
 3   Country/Region   4935 non-null   object
 4   Last Update      4935 non-null   object
 5   Confirmed        4935 non-null   int64
 6   Deaths           4935 non-null   int64
 7   Recovered        4935 non-null   int64
dtypes: int64(4), object(4)
memory usage: 308.6+ KB

## CLEANING DATASET1 19 DATA

In [4]:
#Pandas Series.isnull() function detect missing values in the given series object.
#Python provide an inbuilt function sum() which sums up the numbers in the list.
#therefore isnull().sum() returns the sum of missing values.

mis=covid.isnull().sum()

#mis wll print all columns and show no. of missing values
#Sno                   0
#ObservationDate       0
#Province/State     1815
#Country/Region        0
#Last Update           0
#Confirmed             0
#Deaths                0
#Recovered             0


#Instead we used mis[mis>0] which will print missing no. gretaer than 0
mis[mis>0]

Province/State    1815
dtype: int64

In [5]:
#only one column has missing data it is Provice/State and 1815 rows are missing.

#to get the number of rows and columns in our dataset, we use shape.
covid.shape

(4935, 8)

In [6]:
#Using imputer to fill missing value or complete missing values.
#sklearn is a module for machine learning bulit.

from sklearn.impute import SimpleImputer

In [7]:
#while delaing with string type we use 'most_frequent' or 'constant' strategy:
#for int we can use mean,median or others.

imputer=SimpleImputer(strategy='constant')

#fit_transform(self, X[, y])Fit to data, then transform it.

impute_covid = pd.DataFrame(imputer.fit_transform(covid), columns=covid.columns)

#Now we will print our dataset with complete values.
impute_covid.head()

,Sno,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,1/22/2020,Anhui,Mainland China,1/22/2020 17:00,1,0,0
1,2,1/22/2020,Beijing,Mainland China,1/22/2020 17:00,14,0,0
2,3,1/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6,0,0
3,4,1/22/2020,Fujian,Mainland China,1/22/2020 17:00,1,0,0
4,5,1/22/2020,Gansu,Mainland China,1/22/2020 17:00,0,0,0

In [8]:
#pandas.to_datetime Convert argument to datetime.

impute_covid['ObservationDate'] = pd.to_datetime(impute_covid['ObservationDate'])
impute_covid['Last Update'] = pd.to_datetime(impute_covid['Last Update'])

#pandas.to_numeric Convert argument to a numeric type.
impute_covid['Confirmed'] = pd.to_numeric(impute_covid['Confirmed'], errors='coerce')
impute_covid['Recovered'] = pd.to_numeric(impute_covid['Recovered'], errors='coerce')
impute_covid['Deaths'] = pd.to_numeric(impute_covid['Deaths'], errors='coerce')

In [9]:
#now if we use info() with our complete value dataframe there will be all rows complteted.

impute_covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4935 entries, 0 to 4934
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Sno              4935 non-null   object
 1   ObservationDate  4935 non-null   datetime64[ns]
 2   Province/State   4935 non-null   object
 3   Country/Region   4935 non-null   object
 4   Last Update      4935 non-null   datetime64[ns]
 5   Confirmed        4935 non-null   int64
 6   Deaths           4935 non-null   int64
 7   Recovered        4935 non-null   int64
dtypes: datetime64[ns](2), int64(3), object(3)
memory usage: 308.6+ KB

## DATASET2 OPEN LINE LIST

In [10]:
covid2=pd.read_csv('COVID19_open_line_list.csv')
covid2.head()

,ID,age,sex,city,province,country,wuhan(0)_not_wuhan(1),latitude,longitude,geo_resolution,...,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44
0,1.0,30,male,"Chaohu City, Hefei City",Anhui,China,1.0,31.646960,117.716600,admin3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,47,male,"Baohe District, Hefei City",Anhui,China,1.0,31.778630,117.331900,admin3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,49,male,"High-Tech Zone, Hefei City",Anhui,China,1.0,31.828313,117.224844,point,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,47,female,"High-Tech Zone, Hefei City",Anhui,China,1.0,31.828313,117.224844,point,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,50,female,"Feidong County, Hefei City",Anhui,China,1.0,32.001230,117.568100,admin3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
covid2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14126 entries, 0 to 14125
Data columns (total 45 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        13173 non-null  float64
 1   age                       1349 non-null   object
 2   sex                       1264 non-null   object
 3   city                      10194 non-null  object
 4   province                  12906 non-null  object
 5   country                   13148 non-null  object
 6   wuhan(0)_not_wuhan(1)     13170 non-null  float64
 7   latitude                  13147 non-null  float64
 8   longitude                 13147 non-null  float64
 9   geo_resolution            13147 non-null  object
 10  date_onset_symptoms       746 non-null    object
 11  date_admission_hospital   730 non-null    object
 12  date_confirmation         13089 non-null  object
 13  symptoms                  493 non-null    object
 14  lives_in_Wuhan            565 non-null    object
 15  travel_history_dates      503 non-null    object
 16  travel_history_location   758 non-null    object
 17  reported_market_exposure  35 non-null     object
 18  additional_information    2412 non-null   object
 19  chronic_disease_binary    18 non-null     float64
 20  chronic_disease           13 non-null     object
 21  source                    12950 non-null  object
 22  sequence_available        1 non-null      object
 23  outcome                   184 non-null    object
 24  date_death_or_discharge   93 non-null     object
 25  notes_for_discussion      187 non-null    object
 26  location                  1024 non-null   object
 27  admin3                    1159 non-null   object
 28  admin2                    9068 non-null   object
 29  admin1                    12877 non-null  object
 30  country_new               13079 non-null  object
 31  admin_id                  13103 non-null  object
 32  data_moderator_initials   17 non-null     object
 33  Unnamed: 33               0 non-null      float64
 34  Unnamed: 34               0 non-null      float64
 35  Unnamed: 35               0 non-null      float64
 36  Unnamed: 36               0 non-null      float64
 37  Unnamed: 37               0 non-null      float64
 38  Unnamed: 38               0 non-null      float64
 39  Unnamed: 39               0 non-null      float64
 40  Unnamed: 40               0 non-null      float64
 41  Unnamed: 41               0 non-null      float64
 42  Unnamed: 42               0 non-null      float64
 43  Unnamed: 43               0 non-null      float64
 44  Unnamed: 44               0 non-null      float64
dtypes: float64(17), object(28)
memory usage: 4.8+ MB

In [12]:
covid2.head()

,ID,age,sex,city,province,country,wuhan(0)_not_wuhan(1),latitude,longitude,geo_resolution,...,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44
0,1.0,30,male,"Chaohu City, Hefei City",Anhui,China,1.0,31.646960,117.716600,admin3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,47,male,"Baohe District, Hefei City",Anhui,China,1.0,31.778630,117.331900,admin3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,49,male,"High-Tech Zone, Hefei City",Anhui,China,1.0,31.828313,117.224844,point,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,47,female,"High-Tech Zone, Hefei City",Anhui,China,1.0,31.828313,117.224844,point,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,50,female,"Feidong County, Hefei City",Anhui,China,1.0,32.001230,117.568100,admin3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
misVal=covid2.isnull().sum()
misVal[misVal>0]

ID                            953
age                         12777
sex                         12862
city                         3932
province                     1220
country                       978
wuhan(0)_not_wuhan(1)         956
latitude                      979
longitude                     979
geo_resolution                979
date_onset_symptoms         13380
date_admission_hospital     13396
date_confirmation            1037
symptoms                    13633
lives_in_Wuhan              13561
travel_history_dates        13623
travel_history_location     13368
reported_market_exposure    14091
additional_information      11714
chronic_disease_binary      14108
chronic_disease             14113
source                       1176
sequence_available          14125
outcome                     13942
date_death_or_discharge     14033
notes_for_discussion        13939
location                    13102
admin3                      12967
admin2                       5058
admin1                       1249
country_new                  1047
admin_id                     1023
data_moderator_initials     14109
Unnamed: 33                 14126
Unnamed: 34                 14126
Unnamed: 35                 14126
Unnamed: 36                 14126
Unnamed: 37                 14126
Unnamed: 38                 14126
Unnamed: 39                 14126
Unnamed: 40                 14126
Unnamed: 41                 14126
Unnamed: 42                 14126
Unnamed: 43                 14126
Unnamed: 44                 14126
dtype: int64

In [14]:
#Lot's of missing data found.Getting only columns which we want..
#Cleaning in this dataset include removal of columns which we dont want for visualization.

## CLEANING DATASET2 OPEN LIST LINE

In [15]:
#thresh means separate grain from (corn or other crops), typically with a flail or by the action of a revolving mechanism:
#to clen our dataset in same way here we use variable thresh_value

thresh_value = covid2['date_confirmation'].isnull().sum()
thresh_value

1037

In [16]:
#Now if there exists date_confirmation column with notnull records.
#we will match the 1037 with other columns null value .
#if comparing each column has records <= 1037 ,then they are stored as cols_interest_missing.

cols_interest_missing = [col for col in covid2.columns if covid2[col].isnull().sum()<=thresh_value]
cols_interest_missing

['ID',
 'country',
 'wuhan(0)_not_wuhan(1)',
 'latitude',
 'longitude',
 'geo_resolution',
 'date_confirmation',
 'admin_id']

In [17]:
#here we want copy of cols_insteret_missing so we use copy().

misCovid = covid2[cols_interest_missing].copy()

In [18]:
#Pandas dropna() method allows the user to analyze and drop Rows/Columns with Null values 
dropCovid = misCovid.dropna(axis=0)

#Now if we want to know that there is any missing value reamining then we use isnull() with any().
#false indicates doesn't contain issing value.
dropCovid.isnull().any()

ID                       False
country                  False
wuhan(0)_not_wuhan(1)    False
latitude                 False
longitude                False
geo_resolution           False
date_confirmation        False
admin_id                 False
dtype: bool

In [19]:
#checking our new dataframe after dropping missing values.
dropCovid.head()

,ID,country,wuhan(0)_not_wuhan(1),latitude,longitude,geo_resolution,date_confirmation,admin_id
0,1.0,China,1.0,31.646960,117.716600,admin3,22.01.2020,340181
1,2.0,China,1.0,31.778630,117.331900,admin3,23.01.2020,340111
2,3.0,China,1.0,31.828313,117.224844,point,23.01.2020,340104
3,4.0,China,1.0,31.828313,117.224844,point,23.01.2020,340104
4,5.0,China,1.0,32.001230,117.568100,admin3,23.01.2020,340122

In [20]:
# some anomalies detected in the data 
#In record there is date like '25.02.2020-26.02.2020'
dropCovid['date_confirmation'][dropCovid['date_confirmation']=='25.02.2020-26.02.2020']

11796    25.02.2020-26.02.2020
11797    25.02.2020-26.02.2020
11798    25.02.2020-26.02.2020
11799    25.02.2020-26.02.2020
11800    25.02.2020-26.02.2020
Name: date_confirmation, dtype: object

In [21]:
#printing date which is not equal to  '25.02.2020-26.02.2020'
dropCovid['date_confirmation'][dropCovid['date_confirmation']!='25.02.2020-26.02.2020']

0        22.01.2020
1        23.01.2020
2        23.01.2020
3        23.01.2020
4        23.01.2020
            ...
13143    27.02.2020
13146    27.02.2020
13147    27.02.2020
13151    23.02.2020
13152    28.02.2020
Name: date_confirmation, Length: 12990, dtype: object

In [22]:
#iloc â€“  iloc is used for indexing or selecting based on position .i.e. by row number and column number
#Here we are doing #verification  using iloc for specific position.
dropCovid['date_confirmation'].iloc[11630:11750].values

array(['22.02.2020', '26.02.2020', '26.02.2020', '26.02.2020',
       '26.02.2020', '26.02.2020', '26.02.2020', '24.02.2020',
       '25.02.2020', '25.02.2020', '25.02.2020', '25.02.2020',
       '24.02.2020', '24.02.2020', '14.02.2020', '26.02.2020',
       '26.02.2020', '26.02.2020', '26.02.2020', '26.02.2020',
       '26.02.2020', '26.02.2020', '26.02.2020', '26.02.2020',
       '26.02.2020', '26.02.2020', '26.02.2020', '26.02.2020',
       '26.02.2020', '26.02.2020', '26.02.2020', '26.02.2020',
       '25.02.2020', '25.02.2020', '25.02.2020', '25.02.2020',
       '24.02.2020', '24.02.2020', '24.02.2020', '24.02.2020',
       '24.02.2020', '26.02.2020', '26.02.2020', '26.02.2020',
       '24.02.2020', '24.02.2020', '25.02.2020', '25.02.2020',
       '24.02.2020', '25.02.2020', '25.02.2020', '26.02.2020',
       '25.02.2020-26.02.2020', '25.02.2020-26.02.2020',
       '25.02.2020-26.02.2020', '25.02.2020-26.02.2020',
       '25.02.2020-26.02.2020', '25.02.2020', '25.02.2020', '25.02.2020',
       '26.02.2020', '25.02.2020', '25.02.2020', '24.02.2020',
       '25.02.2020', '25.02.2020', '25.02.2020', '25.02.2020',
       '25.02.2020', '26.02.2020', '23.02.2020', '23.02.2020',
       '23.02.2020', '23.02.2020', '25.02.2020', '26.02.2020',
       '26.02.2020', '23.02.2020', '23.02.2020', '23.02.2020',
       '24.02.2020', '25.02.2020', '25.02.2020', '26.02.2020',
       '26.02.2020', '26.02.2020', '26.02.2020', '23.02.2020',
       '23.02.2020', '24.02.2020', '24.02.2020', '24.02.2020',
       '24.02.2020', '24.02.2020', '24.02.2020', '24.02.2020',
       '24.02.2020', '24.02.2020', '24.02.2020', '24.02.2020',
       '24.02.2020', '24.02.2020', '25.02.2020', '25.02.2020',
       '25.02.2020', '26.02.2020', '26.02.2020', '26.02.2020',
       '26.02.2020', '26.02.2020', '26.02.2020', '26.02.2020',
       '26.02.2020', '23.02.2020', '23.02.2020', '23.02.2020',
       '23.02.2020', '23.02.2020', '23.02.2020', '23.02.2020'],
      dtype=object)

In [23]:
#Now we will replace the 25.02.2020-26.02.2020 with 25.02.2020 using replace to remove anamoly from our dataset.
dropCovid = dropCovid.replace(to_replace='25.02.2020-26.02.2020', value='25.02.2020')

In [24]:
#loc â€“   loc is used for indexing or selecting based on name .i.e. by row name and column name
#Here we are converting our date_confirmation in date time format

dropCovid.loc[:,'date_confirmation'] = pd.to_datetime(dropCovid['date_confirmation'], format="%d.%m.%Y")
dropCovid['date_confirmation']

0       2020-01-22
1       2020-01-23
2       2020-01-23
3       2020-01-23
4       2020-01-23
           ...
13143   2020-02-27
13146   2020-02-27
13147   2020-02-27
13151   2020-02-23
13152   2020-02-28
Name: date_confirmation, Length: 12995, dtype: datetime64[ns]

In [25]:
#Checking for any null values.
dropCovid.isnull().any()

ID                       False
country                  False
wuhan(0)_not_wuhan(1)    False
latitude                 False
longitude                False
geo_resolution           False
date_confirmation        False
admin_id                 False
dtype: bool

In [26]:
dropCovid.head()

,ID,country,wuhan(0)_not_wuhan(1),latitude,longitude,geo_resolution,date_confirmation,admin_id
0,1.0,China,1.0,31.646960,117.716600,admin3,2020-01-22,340181
1,2.0,China,1.0,31.778630,117.331900,admin3,2020-01-23,340111
2,3.0,China,1.0,31.828313,117.224844,point,2020-01-23,340104
3,4.0,China,1.0,31.828313,117.224844,point,2020-01-23,340104
4,5.0,China,1.0,32.001230,117.568100,admin3,2020-01-23,340122

In [27]:
dropCovid.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12995 entries, 0 to 13152
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     12995 non-null  float64
 1   country                12995 non-null  object
 2   wuhan(0)_not_wuhan(1)  12995 non-null  float64
 3   latitude               12995 non-null  float64
 4   longitude              12995 non-null  float64
 5   geo_resolution         12995 non-null  object
 6   date_confirmation      12995 non-null  datetime64[ns]
 7   admin_id               12995 non-null  object
dtypes: datetime64[ns](1), float64(4), object(3)
memory usage: 913.7+ KB

In [28]:
#Now it Lokks like cleaned as we have completed the process of data Cleaning